Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  -modernize-use-trailing-return-type
  performance-*,
  readability-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: none

CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
